<nav>
    <div class="row">
        <div class="col-md-12 d-flex gap-2">
            <p>Paginación: </p>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; Primera</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    </li>
                {% endif %}
    
                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                </li>
    
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>